:root {
  --color-heading: #0b0d19;
  --color-body: #677386;
  --color-bg-button: #3d7bfa;
  --color-text-button: #fff;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  /* --hide-overlay: 0; */
}

/* Begynd her... */
section {
  display: flex;
  gap: 1rlh;
  margin: 2rlh 0;
  max-width: 1100px;
  flex-wrap: wrap;
  > * {
    flex: 1;
    flex-basis: 400px;
  }
}
.text {
  align-content: center;
  padding: 20px;
  max-width: 55ch;
  h1 {
    font-size: 4rem;
    color: var(--color-heading);
    line-height: 1.2;
    font-weight: bold;
  }

  p {
    font-size: 1.125rem;
    color: var(--color-body);
    line-height: 1.5;
    place-self: center;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  button {
    background-color: var(--color-bg-button);
    color: var(--color-text-button);
    width: 170px;
    height: 50px;
    border-radius: 35px;
  }
}
.images {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  :nth-child(1) {
    grid-column: 2;
    grid-row: 1;
    border-radius: 10px;
  }
  :nth-child(2) {
    grid-column: 1;
    grid-row: 2;
    border-radius: 10px;
  }
  :nth-child(3) {
    grid-column: 2;
    grid-row: 2/4;
    border-radius: 10px;
  }
  :nth-child(4) {
    grid-column: 3;
    grid-row: 2;
    border-radius: 10px;
  }
  :nth-child(5) {
    grid-column: 1;
    grid-row: 3;
    border-radius: 10px;
  }
  :nth-child(6) {
    grid-column: 3;
    grid-row: 3;
    border-radius: 10px;
  }
  :nth-child(7) {
    grid-column: 2;
    grid-row: 4;
    border-radius: 10px;
  }
}
