article {
  max-inline-size: 400px;
  background: #fff;
  margin-block: 3rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 1rem;
  font-family: "primary", sans-serif;
}

.picture {
  display: grid;
  padding: 0;

  > * {
    grid-area: 1 / 1;
  }

  .back {
    place-self: start;
    margin: 1rem;
    z-index: 1;
    color: #fff;
  }

  .image-count {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    letter-spacing: 2px;
    line-height: 1;
    place-self: end start;
    background: #747b85;
    color: #fff;
    margin: 1rem;
  }

  img {
    border: 1px solid #dadceb;
    border-radius: 1rem 1rem 0rem 0rem;
  }
}

.card-content {
  display: grid;
  gap: 1.7rem;
  padding: 0 2rem 1rem;

  .title {
    font-family: "primary", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #303030;
    padding-top: 15px;
  }

  .location {
    color: #747b85;
    font-weight: 500;
    font-size: 0.95em;
  }
}

.description p {
  text-align: left;
  color: #747b85;
  line-height: 1.5rem;
}

.amenities-details {
  display: flex;
  gap: 1rem;
  border-top: solid #d9dbdd;
  border-bottom: solid #d9dbdd;
  padding-block: 10px;

  li {
    flex: 1;
    display: grid;
    gap: 0.75rem;
    place-items: center;
    padding: 0.25rem;
    color: #747b85;
  }
}

footer {
  padding: 1rem 2rem;
  box-shadow: 0 -2px 4px -1px #0002;

  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  button {
    padding: 0.75rem 1rem;
    border: none;
    line-height: 1;
    border-radius: 8px;
    font-weight: 500;
    font: inherit;
    background: #3c55cc;
    color: #f0f2ff;
  }

  .price {
    font-weight: 600;
    color: #303030;

    span {
      color: #908f9f;
      font-size: 0.75em;
      font-weight: 400;
    }
  }
}

@layer reset {
  * {
    margin: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100svh;
    font-family: system-ui, sans-serif;
    display: grid;
    place-content: center;
    background: #f5f6fa;
  }

  img,
  svg {
    display: block;
    max-inline-size: 100%;
    height: auto;
  }
  .picture svg {
    background-color: white;
    color: #828282;
    border-radius: 1rem;
    padding: 5px;
    margin: 15px;
    scale: 1.5;
    border: solid 1px #b6b6b6;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }
}
